﻿@model Tuple<string, ArticleMetadata>

@{
    var markdown = Model.Item1;
    var metadata = Model.Item2;
    
    ViewBag.Title = string.Format("Editing \"{0}\"", metadata.Name);
}

<h2>Editing &ldquo;@metadata.Name&rdquo;</h2>

@using (Html.BeginForm("Index", "Edit", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("filename", metadata.Filename)
    @Html.Hidden("rev", metadata.Rev)
    
    <div class="form-group">
        @Html.Label("Date", new { @class = "control-label" })
        <div class="form-control">
            @metadata.Date.ToShortDateString()
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label("Content", new { @class = "control-label", @for = "content" })
        @Html.TextArea("content", markdown, new { @class = "form-control", rows=20 })
    </div>
    
    <div class="form-group text-right">
        <button id="preview" class="btn btn-default" disabled>Preview</button>
        <input type="submit" name="save" value="Save" class="btn btn-primary" />
    </div>
}

<div class="modal fade" role="dialog" id="preview-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Preview</h4>
            </div>
            <div class="modal-body">
                <div id="preview-loading">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> loading...
                </div>
                <div id="preview-content" style="display: none;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/preview.js" async></script>
}
