﻿@model List<Blog>
@{
    ViewBag.Title = "Home";
}

<div class="text-center jumbotron margin-top-20">
    <h1>Welcome to the Simple Blog Demo</h1>
    <h2>
        This is a sample application that demonstrates how to use the <a href="https://www.dropbox.com">Dropbox</a>
        .Net SDK to build a simple blog.
    </h2>

    @Html.ActionLink(
        linkText: "Sign up now!",
        actionName: "Register",
        routeValues: new {},
        htmlAttributes: new { @class = "btn btn-lg btn-primary" })
</div>

<div class="row">
    @foreach (var blog in Model)
    {
        <div class="col-md-3 well">
            <h4>@blog.BlogName</h4>
            <ul>
                @foreach (var article in blog.BlogArticles.Reverse().Take(5))
                {
                    <li><a href="/Blogs/@blog.BlogName/@article.DisplayName">@article.Name</a></li>
                }
            </ul>
        </div>
    }
</div>

