﻿@model SimpleBlogDemo.Models.UserProfile

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div class="row">
    <div class="well col-md-offset-3 col-md-6">
        @using (@Html.BeginForm("Profile", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID);
            @Html.HiddenFor(model => model.UserName);

            <div class="form-group">
                <label class="control-label">
                    Username
                </label>
                <div class="form-control">
                    @Model.UserName
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Password
                </label>
                <div class="form-control">
                    &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
                </div>
            </div>

            <div class="form-group">
                @if (string.IsNullOrWhiteSpace(Model.BlogName))
                {
                    @Html.LabelFor(model => model.BlogName, new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.BlogName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BlogName, string.Empty, new { @class = "text-danger" })
                    </div>
                }
                else
                {
                    <label class="control-label">
                        Blog Name
                    </label>
                    <div class="form-control">
                        @Html.ActionLink(@Model.BlogName, @Model.BlogName, "Blogs")
                    </div>
                }
            </div>

            <div class="form-group">
                <label class="control-label">
                    Dropbox Connection
                </label>
                <div>
                    @if (string.IsNullOrWhiteSpace(Model.DropboxAccessToken))
                    {
                        @Html.ActionLink(
                                    linkText: "connect",
                                    actionName: "Connect",
                                    routeValues: null,
                                    htmlAttributes: new { @class = "btn btn-sm btn-default" })
                    }
                    else
                    {
                        <input type="submit" class="btn btn-sm btn-default" value="disconnect"
                               form="disconnect-form" />
                    }
                </div>
            </div>

            if (string.IsNullOrWhiteSpace(Model.BlogName))
            {
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
        }
        @using (Html.BeginForm("Disconnect", "Home", FormMethod.Post, new { id = "disconnect-form" }))
        {
            @Html.AntiForgeryToken();
        }
    </div>
</div>
