﻿
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="well col-md-offset-3 col-md-6">
@using (Html.BeginForm(actionName: "Register", controllerName: "Home", method:FormMethod.Post))
{
    @Html.AntiForgeryToken();
    
    <div class="form-group">
        @Html.Label("Username", htmlAttributes: new { @class = "control-label", @for = "username" })
        @Html.TextBox("username", null, htmlAttributes: new { @class = "form-control", placeholder="username (email)" })
    </div>
    
    <div class="form-group">
        @Html.Label("Password", htmlAttributes: new { @class = "control-label", @for = "password1" })
        @Html.Password("password1", null, htmlAttributes: new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.Label("Repeat Password", htmlAttributes: new { @class = "control-label", @for = "password2" })
        @Html.Password("password2", null, htmlAttributes: new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.Label("Blog Name (optional)", htmlAttributes: new { @class = "control-label", @for = "blogname" })
        @Html.TextBox("blogname", null, htmlAttributes: new { @class = "form-control" })
    </div>
    
    <div class="checkbox">
        <label>
            Remember me
            <input type="checkbox" id="remember" name="remember" value="true"/>
        </label>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
}
</div>