﻿
@{
    ViewBag.Title = "Sign In";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h2>Sign In</h2>

        <div class="well">
            @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl);

                <div class="form-group">
                    @Html.Label("Username", htmlAttributes: new { @class = "control-label", @for = "username" })
                    @Html.TextBox("username", null, htmlAttributes: new { @class = "form-control", placeholder = "username (email)" })
                </div>

                <div class="form-group">
                    @Html.Label("Password", htmlAttributes: new { @class = "control-label", @for = "password" })
                    @Html.Password("password", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="checkbox">
                    <label>
                        Remember me
                        <input type="checkbox" id="remember" name="remember" value="true"/>
                        <hidden name="remember" value="false" />
                    </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Sign In" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

